.graphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.chartAndFilter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.chartWrapper {
    width: 700px;
    height: 350px;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 8px;
}

